/* .colorpicker{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    outline: none ; 
} */

.colorpicker {
    appearance: none;
    -webkit-appearance: none;  /* For WebKit browsers */
    -moz-appearance: none;  /* For Firefox */
    border-radius: 50%;
    width: 20px; 
    height: 20px;  
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;  /* Initial background color */
    outline: none;
}

.colorpicker::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0;
    border: none;
}


.colordiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.colordiv span{
    font-size: 14px;
}

.minusdiv{
    border-left: none !important;
}

.btn-outline-dark {
    border-radius: 0px !important;
    border-color: #ccc ;
}
.sendtoback{
    border: none !important;
    background-color: transparent;
    margin-bottom: 15px;
}

.sendtoback span{
    font-size: 12.8px;
}

.bolddiv{
    border: none;
    background-color: transparent;
}

.vr{
    height: 50px;
    border-left: 2px solid #ccc;
 
}

.text-controls{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 8px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.lastdiv{
    position: sticky;
    bottom: 0;
    background-color: #fff;
}

.menu-button:focus{
    box-shadow: none !important;
}

.uploaddiv .sendtoback span, .designdiv .sendtoback span{
    font-size: 11.36px;
}


